SE/App_WebReferences/org/igssgt/pruebas/WSMediConsulta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="DatosUnidades">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DatosUnidadesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DatosUnidadesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DatosCitas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cod_unidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DatosCitasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DatosCitasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExisteFormulario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numformulario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cod_unidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoformulario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExisteFormularioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExisteFormularioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DatosUnidadesSoapIn">
    <wsdl:part name="parameters" element="tns:DatosUnidades" />
  </wsdl:message>
  <wsdl:message name="DatosUnidadesSoapOut">
    <wsdl:part name="parameters" element="tns:DatosUnidadesResponse" />
  </wsdl:message>
  <wsdl:message name="DatosCitasSoapIn">
    <wsdl:part name="parameters" element="tns:DatosCitas" />
  </wsdl:message>
  <wsdl:message name="DatosCitasSoapOut">
    <wsdl:part name="parameters" element="tns:DatosCitasResponse" />
  </wsdl:message>
  <wsdl:message name="ExisteFormularioSoapIn">
    <wsdl:part name="parameters" element="tns:ExisteFormulario" />
  </wsdl:message>
  <wsdl:message name="ExisteFormularioSoapOut">
    <wsdl:part name="parameters" element="tns:ExisteFormularioResponse" />
  </wsdl:message>
  <wsdl:portType name="WSMediConsultaSoap">
    <wsdl:operation name="DatosUnidades">
      <wsdl:input message="tns:DatosUnidadesSoapIn" />
      <wsdl:output message="tns:DatosUnidadesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DatosCitas">
      <wsdl:input message="tns:DatosCitasSoapIn" />
      <wsdl:output message="tns:DatosCitasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExisteFormulario">
      <wsdl:input message="tns:ExisteFormularioSoapIn" />
      <wsdl:output message="tns:ExisteFormularioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSMediConsultaSoap" type="tns:WSMediConsultaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DatosUnidades">
      <soap:operation soapAction="http://localhost/DatosUnidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatosCitas">
      <soap:operation soapAction="http://localhost/DatosCitas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteFormulario">
      <soap:operation soapAction="http://localhost/ExisteFormulario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSMediConsultaSoap12" type="tns:WSMediConsultaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DatosUnidades">
      <soap12:operation soapAction="http://localhost/DatosUnidades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatosCitas">
      <soap12:operation soapAction="http://localhost/DatosCitas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteFormulario">
      <soap12:operation soapAction="http://localhost/ExisteFormulario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSMediConsulta">
    <wsdl:port name="WSMediConsultaSoap" binding="tns:WSMediConsultaSoap">
      <soap:address location="http://pruebas.igssgt.org/wservices/WSMediCitasConsulta/WSMediConsulta.asmx" />
    </wsdl:port>
    <wsdl:port name="WSMediConsultaSoap12" binding="tns:WSMediConsultaSoap12">
      <soap12:address location="http://pruebas.igssgt.org/wservices/WSMediCitasConsulta/WSMediConsulta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>